/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-1 {
    margin-left: 70px;
    margin-top:100px;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-2 {
    margin-left: 70px;
    margin-top: -55px;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-3 {
    margin-left: 70px;
    margin-top: -20px;
    font-weight: lighter;
    font-size:20px;

    color: white;
}

.text-4 {
    margin-left: 70px;
    margin-top: 155px;
    margin-right: -50PX;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-5 {
    margin-left: 70px;
    margin-top:-20px;
    font-weight: lighter;
    font-size:20px;
    padding-right: 15px;

    color: white;
}

.text-6 {
    margin-left: 70px;
    margin-top:20px;
    font-weight: lighter;
    font-size:20px;

    color: white;
}

iframe {
    margin-top: 100px;
    margin-left: -40px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #da3e99;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 70px;
}

.button:hover {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #5bc6e0;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 70px;
}



.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}

.right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content img {
    max-width: 100%;
    height: auto;
}



footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.p1 {
    margin-top: -10px;
}

.photo2 {
 width: 300px;
 height: 250px;
}

